:host {
display: block;
}


html {
scroll-behavior: smooth;
}


::-webkit-scrollbar {
width: 8px;
}


::-webkit-scrollbar-track {
background: #09090b;
}


::-webkit-scrollbar-thumb {
background: #27272a;
border-radius: 9999px;
}


::-webkit-scrollbar-thumb:hover {
background: #3f3f46;
}